<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Vaadin Web Application</display-name>
    <context-param>
        <description>Vaadin production mode</description>
        <param-name>productionMode</param-name>
        <param-value>false</param-value>
    </context-param>
    <servlet>
        <servlet-name>Vaadin Application Servlet</servlet-name>
        <servlet-class>de.felix.skypealizer.SkypeALizerAppServlet</servlet-class>
        <init-param>
            <description>Vaadin application class to start</description>
            <param-name>application</param-name>
            <param-value>de.felix.skypealizer.SkypeALizerApp</param-value>
        </init-param>
        <init-param>
            <param-name>widgetset</param-name>
            <param-value>de.felix.skypealizer.SkypeALizerSet</param-value>
        </init-param>
        <init-param>
            <description>Navigator7 WebApplication class to start (optionnal)</description>
            <param-name>webApplication</param-name>
            <param-value>de.felix.skypealizer.SkypeALizerWebApp</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Vaadin Application Servlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>ShiroFilter</filter-name>
        <filter-class>
            org.apache.shiro.web.servlet.IniShiroFilter
        </filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ShiroFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
